@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$body-background: #55ACEE;
$fonts: "Open Sans", sans-serif;
$font-color: #FFFFFF;

body,
button {
    background-color: $body-background;
    font-family: $fonts;
    color: $font-color;
    text-align: center;
}

button,
a {
    border: 1px solid $font-color;
    width: 400px;
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}